# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Sessiya fayllari
*.session
*.session-journal

# Maxfiy ma'lumotlar
.env
.env.local

# Loglar
*.log
